{
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "paths": {
      "#seedwork/*": [
        "./@seedwork/*"
      ],
      "#category/*": [
        "./category/*"
      ],
      "@/*": [
        "./*"
      ]
    }
  }
}